
body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
/* Placement de la zone de gauche, zone des images */
#LeftSide {
  margin-left: 5%;
  margin-bottom: 5%;
  position: relative;
  width: 45%;
  float: left;



  border-radius: 20px 0px 0px 20px;
  display: flex;
   flex-direction: column;


}

/* placement de la zone de droite, avec la description de l'objet, pour exemple */
#RightSide	 {
  margin-right: 5%;
  margin-bottom: 5%;
  position: relative;
  width: 45%;
  float: right;


    border-radius: 0px 20px 20px 0px;
  flex:1;

}

/* Affichage des images de présentations, en petit */
.imgSmallPrez {
 margin-right:2%; 
width: 20% ;
height: 20%;
margin-bottom: 29px;
display:flex; 
}
#SmallImg{
  margin-top: 30px;
display: flex;
justify-content:center;

}

.Presentation
{

margin-top: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: relative;
  display: none;
}

/* Le style pour le titre de la page*/
h1
{

  padding: 5px;
  text-align: center;
  background: #111111;
  color: white;
  font-size: 30px;
 

}

h2
{
  font-size: 30px;
  margin-left: 5%;
  font-weight: bold;
}

p
{

  margin-left: 10%;
}

/* C'est là où se trouve la zone "il ne reste que X temps avant que ce produit disparaisse" */
.Important
{
  margin: 40px; 
    color: white;
  font-size: 25px;
  background-color: red;
border-radius: 20px;
}

/* La taille du Timer dans le HTML */
#timer
{
  font-size: 35px;
  font-weight: bolder;
}

/* La zone de défilement des commentaires */
.comment
{
  margin: 30px;
  background-color: grey;
  border-radius: 20px;
  padding: 0px 20px;
}


.invisible
{
    color: grey;
}

/* Le prix de l'objet */
.price
{
  
  font-size: 25px;
  color: black;
  font-weight: bolder;
  display: flex;

}

/* Pour railler le faux prix d'avant */
#Rekt
{

  font-size: 10px;
  text-decoration-line: line-through;
}

/* La zone où se trouve le timer */
.countdownContainer{ 
right: 50%;
top: 50% ;
left: 50%;
text-transform: translateX(-50%) translateY(-50%);
text-align: :center;
background: #b20000;
border: 3px solid black;
padding: 10px;
 border-radius: 10% 10% 10% 10%;

}

.alert{
  font-size: 50px;
  color: #ffffff;
}


.buy
{
font-size: 30px;
 border-radius: 10% 10% 10% 10%;   
 background: black;
 color: white;
}
/* zoom de l'image */

.style_prevu_kit:hover
{
    box-shadow: 0px 0px 100px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

#newsletter{

  align-self:flex-end;
}